
######################################
### Configure programming language ###
######################################
language: java

##################################
### Make sure using Oracle JDK ###
##################################
jdk:
  - oraclejdk11

###################################
### Disable Email notifications ###
###################################
notifications:
  email: false

###############
### Caching ###
###############
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

addons:
  sonarcloud:
    organization: "softwartechnik"
    token:
      secure: Al1d0UqhxyYxJpAd687/wev2IGiwtaF+FBYLRK36jatNxI1vIfoBxNXyepfSXJXK1nEMfQ2jg5rWPsAYYPjwYzha0LI5d58gDvz54Afs3cvVo5aRQoO/QSKqLnjOqs+/RpEG+QfZ6x4IvLGW3eNRaOKVk8BUA5Nuy33I0er1YqZoGj4rzy89hcU6kTDP+XkELA3QFGRcq8am0AZpygxMsDh6YOSIi8WTryWpmNdW/iYru5hn0tId5O7jdj6TwARY+CerGeS+anMBk3o4D6EN/OWKd14DNDIhUmo4GkaTJ6ECnLzeGmx/JkJoikefpfKObE3pWVE+0Ml79Zu82NPL7WPoUau/lDZz6i6oZPVj7iFlhZOAI+UvcXzVs2P13rks50aomz6jmL2c2oyGq5uA6yupqNM7eSVMlALxr44hs/nXaLWFnaSjIRIEmrhShbdfW1rO+yW09jkN+k026WKkon3465eQj81BdwEbvDL9c9i9VbVtYXiO+9Fgt4eaPz0l4PO89XAgRAojyQPK9mp4kDLIBmwfdFjcxhEDq+4deWDGhdvOsq7iNzfgSldpIseT/2DuVkJ+7BSb1t3NuJ8xoCr1thYKCOAJaqSa/gUCYLcssb2YVeFyn5nj2pPsgjRSO9tDWHgdmVqNujjff2m/VD9YnaZlAIwswxew2H90b5Q=

###########################
### Actual Build Script ###
###########################
script:
  - ./gradlew build
  - ./gradlew --scan -s
  - ./gradlew codeCoverageReport
  - ./gradlew sonarqube
