
######################################
### Configure programming language ###
######################################
language: java

##################################
### Make sure using Oracle JDK ###
##################################
jdk:
  - oraclejdk11

###################################
### Disable Email notifications ###
###################################
notifications:
  email: false

###############
### Caching ###
###############
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

addons:
  sonarcloud:
    organization: "softwartechnik"
    token:
      secure: gb9bueohW+m7e0BJGP36zELcyvACeGSPGSaqXWjL+3oTBIouZXXtCFmYORqa8D485zpy83WOCabUDlV8pyq/RNcUtG6JUHfzhA1/sKJBfRl33HtffbSI7kMInrZCDgnJK6BcGvnw76/9FJRoDcuQS7uJmQwyFux4Hv0xtrBsEbvtKllYLWH8vfZHhziOTMufF7Bjb3TQxjcxYaxqKrb/1cYSGRAR9HLvFptM/StpsSznQsgltfDekerYATnY7SbDzXxbPlKohSAEhG4y7WZ8lKkYY/0d9COFNsq2IH4LLDI3mQrFJUZokPUaJ1S+679bcWOfCsokCyTL+lbf1iyCUa5ryXY3SRC26rBSYB24V/lemj3jdncXzq5s+SbJVAlM9WRmXDAPlc7VLArr8VjAHPowFlS0sGR8PQcbcqa2EFRkCw4Xu45Hy+qkRXaObaaeHqLPg1gdCdm9dlZSTl1LX83krhG+C4FMWz7mNbk2li0f82gzjogmnhgH9+vbQ4Vk7s0kPTGj3diUeV4ac9jqpnOOWh0Dg+xK1utItYWjBE8XO7+rtdkCPMXbXMyRToXRRQ4hL2quKUZjdei4RsWzLUd+05S/+y3qUaTbUWSY/P0Pi0luMVMJNAtxBPtUFn4Y1UjvgZ4uCLqYrXWzqdtdettIuKH49rQqubmu829mzEk=

###########################
### Actual Build Script ###
###########################
script:
  - ./gradlew build
  - ./gradlew --scan -s
  - ./gradlew check codeCoverageReport
  - ./gradlew sonarqube
