version: '3.7'

services:
  lucifer-rising-database:
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: lucifer_rising_database
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    networks:
      - lucifer-rising

  lucifer-rising-app:
    build:
      context: .
    image: softwartechnik/lucifer-rising
    container_name: lucifer-rising
    ports:
      - 8080:9990
      - 8070:8080
    networks:
      - lucifer-rising

  adminer:
    image: adminer
    restart: always
    ports:
      - 9050:8080

networks:
  lucifer-rising: {}